
IO_LOC "PA_EN" R16;
IO_LOC "HP_DIN" P15;
IO_LOC "HP_WS" P16;
IO_LOC "HP_BCK" N15;
IO_LOC "rst_n" T3;
IO_LOC "clk" H11;

IO_LOC "led" L16;

IO_PORT "PA_EN" PULL_MODE=UP DRIVE=8;
IO_PORT "HP_DIN" PULL_MODE=UP DRIVE=8;
IO_PORT "HP_WS" PULL_MODE=UP DRIVE=8;
IO_PORT "HP_BCK" PULL_MODE=UP DRIVE=8;
IO_PORT "rst_n" PULL_MODE=UP;
IO_PORT "clk" PULL_MODE=UP;

IO_PORT "led" PULL_MODE=UP;