IO_LOC "ulpi_stp" K11;
IO_PORT "ulpi_stp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_rst" F10;
IO_PORT "ulpi_rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[7]" R12;
IO_PORT "ulpi_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[6]" P13;
IO_PORT "ulpi_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[5]" R13;
IO_PORT "ulpi_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[4]" T14;
IO_PORT "ulpi_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[3]" H13;
IO_PORT "ulpi_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[2]" J12;
IO_PORT "ulpi_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[1]" H12;
IO_PORT "ulpi_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_data[0]" G11;
IO_PORT "ulpi_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ulpi_nxt" K13;
IO_PORT "ulpi_nxt" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ulpi_dir" K12;
IO_PORT "ulpi_dir" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ulpi_clk" T15;
IO_PORT "ulpi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rst_n" T3;
IO_PORT "rst_n" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
