IO_LOC "clk" H11;

IO_LOC "rst_n" C7;
IO_LOC "state_led[0]" L16;
IO_LOC "state_led[1]" L14;
IO_LOC "state_led[2]" N14;
IO_LOC "state_led[3]" N16;


IO_LOC "cmos_scl" F14;
IO_LOC "cmos_sda" F16;
IO_LOC "cmos_vsync" G15;
IO_LOC "cmos_href" G14;
IO_LOC "cmos_pclk" F13;
IO_LOC "cmos_xclk" G12;
IO_LOC "cmos_rst_n" L13;
IO_LOC "cmos_pwdn" C10;
IO_LOC "cmos_db[0]" T12;
IO_LOC "cmos_db[1]" T11;
IO_LOC "cmos_db[2]" P11;
IO_LOC "cmos_db[3]" R11;
IO_LOC "cmos_db[4]" M15;
IO_LOC "cmos_db[5]" M14;
IO_LOC "cmos_db[6]" J16;
IO_LOC "cmos_db[7]" J14;


//======================================
IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_PORT "rst_n" IO_TYPE=LVCMOS33;
IO_PORT "state_led[0]" IO_TYPE=LVCMOS33;
IO_PORT "state_led[1]" IO_TYPE=LVCMOS33;
IO_PORT "state_led[2]" IO_TYPE=LVCMOS33;
IO_PORT "state_led[3]" IO_TYPE=LVCMOS33;


IO_PORT "cmos_scl" IO_TYPE=LVCMOS33;
IO_PORT "cmos_sda" IO_TYPE=LVCMOS33;
IO_PORT "cmos_vsync" IO_TYPE=LVCMOS33;
IO_PORT "cmos_href" IO_TYPE=LVCMOS33;
IO_PORT "cmos_pclk" IO_TYPE=LVCMOS33;
IO_PORT "cmos_xclk" IO_TYPE=LVCMOS33;
IO_PORT "cmos_rst_n" IO_TYPE=LVCMOS33;
IO_PORT "cmos_pwdn" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[0]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[1]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[2]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[3]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[4]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[5]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[6]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_db[7]" IO_TYPE=LVCMOS33;

//============ HDMI ===============

IO_LOC "O_tmds_clk_p" G16,H15;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_p[0]" H14,H16;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_p[1]" J15,K16;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_p[2]" K14,K15;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=3.5;

//====================DDR3==================

IO_LOC "ddr_bank[2]" H5;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" D3;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" H4;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" C8;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" A3;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" B7;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" K3;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" F9;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" A5;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" D8;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" B1;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" E6;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" C4;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" F8;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" D6;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" A4;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" F7;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" R3;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" J2;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_we" L2;
IO_PORT "ddr_we" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" R6;
IO_PORT "ddr_cas" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" R4;
IO_PORT "ddr_ras" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" B9;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" J1,J3;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" K5;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" G1;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" M2;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" R1;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" H3;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" P4;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" L1;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" N2;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" K4;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" M3;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" B3;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" E1;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" C1;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" E2;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" F3;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" F4;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" F5;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" G5;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" J5,K6;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" G2,G3;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" P5;
IO_PORT "ddr_cs" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;