IO_LOC "clk27" H11;
IO_PORT "clk27" IO_TYPE=LVCMOS33;
IO_LOC "serial_rx" T13;
IO_PORT "serial_rx" IO_TYPE=LVCMOS33;
IO_LOC "serial_tx" M11;
IO_PORT "serial_tx" IO_TYPE=LVCMOS33;
IO_LOC "ddram_a[0]" F7;
IO_PORT "ddram_a[0]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[1]" A4;
IO_PORT "ddram_a[1]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[2]" D6;
IO_PORT "ddram_a[2]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[3]" F8;
IO_PORT "ddram_a[3]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[4]" C4;
IO_PORT "ddram_a[4]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[5]" E6;
IO_PORT "ddram_a[5]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[6]" B1;
IO_PORT "ddram_a[6]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[7]" D8;
IO_PORT "ddram_a[7]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[8]" A5;
IO_PORT "ddram_a[8]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[9]" F9;
IO_PORT "ddram_a[9]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[10]" K3;
IO_PORT "ddram_a[10]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[11]" B7;
IO_PORT "ddram_a[11]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[12]" A3;
IO_PORT "ddram_a[12]" IO_TYPE=SSTL15;
IO_LOC "ddram_a[13]" C8;
IO_PORT "ddram_a[13]" IO_TYPE=SSTL15;
IO_LOC "ddram_ba[0]" H4;
IO_PORT "ddram_ba[0]" IO_TYPE=SSTL15;
IO_LOC "ddram_ba[1]" D3;
IO_PORT "ddram_ba[1]" IO_TYPE=SSTL15;
IO_LOC "ddram_ba[2]" H5;
IO_PORT "ddram_ba[2]" IO_TYPE=SSTL15;
IO_LOC "ddram_ras_n" R4;
IO_PORT "ddram_ras_n" IO_TYPE=SSTL15;
IO_LOC "ddram_cas_n" R6;
IO_PORT "ddram_cas_n" IO_TYPE=SSTL15;
IO_LOC "ddram_we_n" L2;
IO_PORT "ddram_we_n" IO_TYPE=SSTL15;
IO_LOC "ddram_cs_n" P5;
IO_PORT "ddram_cs_n" IO_TYPE=SSTL15;
IO_LOC "ddram_dm[0]" G1;
IO_PORT "ddram_dm[0]" IO_TYPE=SSTL15;
IO_LOC "ddram_dm[1]" K5;
IO_PORT "ddram_dm[1]" IO_TYPE=SSTL15;
IO_LOC "ddram_dq[0]" G5;
IO_PORT "ddram_dq[0]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[1]" F5;
IO_PORT "ddram_dq[1]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[2]" F4;
IO_PORT "ddram_dq[2]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[3]" F3;
IO_PORT "ddram_dq[3]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[4]" E2;
IO_PORT "ddram_dq[4]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[5]" C1;
IO_PORT "ddram_dq[5]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[6]" E1;
IO_PORT "ddram_dq[6]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[7]" B3;
IO_PORT "ddram_dq[7]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[8]" M3;
IO_PORT "ddram_dq[8]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[9]" K4;
IO_PORT "ddram_dq[9]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[10]" N2;
IO_PORT "ddram_dq[10]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[11]" L1;
IO_PORT "ddram_dq[11]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[12]" P4;
IO_PORT "ddram_dq[12]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[13]" H3;
IO_PORT "ddram_dq[13]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[14]" R1;
IO_PORT "ddram_dq[14]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dq[15]" M2;
IO_PORT "ddram_dq[15]" IO_TYPE=SSTL15 VREF=INTERNAL;
IO_LOC "ddram_dqs_p[0]" G2,G3;
IO_PORT "ddram_dqs_p[0]" IO_TYPE=SSTL15D;
IO_LOC "ddram_dqs_p[1]" J5,K6;
IO_PORT "ddram_dqs_p[1]" IO_TYPE=SSTL15D;
IO_LOC "ddram_clk_p" J1,J3;
IO_PORT "ddram_clk_p" IO_TYPE=SSTL15D;
IO_LOC "ddram_cke" J2;
IO_PORT "ddram_cke" IO_TYPE=SSTL15;
IO_LOC "ddram_odt" R3;
IO_PORT "ddram_odt" IO_TYPE=SSTL15;
IO_LOC "ddram_reset_n" B9;
IO_PORT "ddram_reset_n" IO_TYPE=SSTL15;
IO_LOC "led0" L16;
IO_PORT "led0" IO_TYPE=LVCMOS33;
IO_LOC "led1" L14;
IO_PORT "led1" IO_TYPE=LVCMOS33;
IO_LOC "led2" N14;
IO_PORT "led2" IO_TYPE=LVCMOS33;
IO_LOC "led3" N16;
IO_PORT "led3" IO_TYPE=LVCMOS33;
IO_LOC "led4" A13;
IO_PORT "led4" IO_TYPE=LVCMOS33;
IO_LOC "led5" C13;
IO_PORT "led5" IO_TYPE=LVCMOS33;
IO_LOC "btn_n0" T10;
IO_PORT "btn_n0" IO_TYPE=LVCMOS33;
IO_LOC "btn_n1" T3;
IO_PORT "btn_n1" IO_TYPE=LVCMOS15;
IO_LOC "btn_n2" T2;
IO_PORT "btn_n2" IO_TYPE=LVCMOS15;
IO_LOC "btn_n3" D7;
IO_PORT "btn_n3" IO_TYPE=LVCMOS15;
IO_LOC "btn_n4" C7;
IO_PORT "btn_n4" IO_TYPE=LVCMOS15;