IO_LOC "clk" H11;

IO_LOC "lcd_dclk" R9;
IO_LOC "lcd_hs" A15;
IO_LOC "lcd_vs" D14;
IO_LOC "lcd_de" E15;
IO_LOC "lcd_r[0]" L9;
IO_LOC "lcd_r[1]" N8;
IO_LOC "lcd_r[2]" N9;
IO_LOC "lcd_r[3]" N7;
IO_LOC "lcd_r[4]" N6;

IO_LOC "lcd_g[0]" D11;
IO_LOC "lcd_g[1]" A11;
IO_LOC "lcd_g[2]" B11;
IO_LOC "lcd_g[3]" P7;
IO_LOC "lcd_g[4]" R7;
IO_LOC "lcd_g[5]" D10;

IO_LOC "lcd_b[0]" B12;
IO_LOC "lcd_b[1]" C12;
IO_LOC "lcd_b[2]" B13;
IO_LOC "lcd_b[3]" A14;
IO_LOC "lcd_b[4]" B14;

IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_PORT "lcd_dclk" IO_TYPE=LVCMOS33;
IO_PORT "lcd_hs"   IO_TYPE=LVCMOS33;
IO_PORT "lcd_vs"   IO_TYPE=LVCMOS33;
IO_PORT "lcd_de"   IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33;

IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33;

IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33;
IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33;
